
.penguins-b{
   background-color:bisque;
   border-radius: 1em;
}


.col img{
    height: 60%;

}
p{
    color: dimgray;
    
}
h2 {
    color: darkblue;
    
}
h4{
    color: darkblue;
}
h3{
    color: darksalmon ;
}
.img-thumbnail {
    width: 25%;
        
}
h1{
    color: darkslateblue;
}
.navbar-brand{
    width: 40%;
}










